body {
    padding-top: 50px;
}

.action a {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.item {
    background-color: white;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    list-style-type: none;
    cursor: pointer;
}

.item-selected {
    background-color: #fff8bb !important;
    /* text-decoration: underline; */
}
