<h4>Local Projects</h4>
<div class="demo-section k-content">
    <div class="box-col" style="width: 340px">
        <p>Import MS-Project (.mpp) files by dragging from file finder into red rectangle or choose with button:</p>
        <div style="border: 1px solid red">
        <input id="uploader" name="uploader"
               type="file"
               kendo-upload="upload"
               k-options="options.Upload"
                />
        </div>
    </div>
    <!--<div class="box-col console-section">-->
        <!--<h4>Console</h4>-->
        <!--<div class="console"></div>-->
    <!--</div>-->
</div>
<!-- NOTE, track by $index is needed to suppress false exception from $p refs in tasks... -->
<!--https://github.com/angular/angular.js/issues/9838-->
<p>There {{ app.projects.length == 1 ? 'is' : 'are' }} {{ app.projects.length || 'no' }} project{{ app.projects.length != 1 ? 's' : '' }} currently defined.</p>
<div class="col-sm-4">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in app.projects track by $index"><a ng-href="#/t/{{p.id}}">{{ p.name }}</a> [{{ p.tasks.length }} tasks]
            <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="del(p)"><span class="glyphicon glyphicon-trash"> </span> delete</button>
        </li>
    </ul>
</div><!-- /.col-sm-4 -->
