<h4>{{ project.name }}</h4>
<div kendo-gantt="wbs" k-options="ganttOptions"></div>
<!--<ul>-->
    <!--<li class="item level{{t.level}}" ng-repeat="t in project.tasks" ng-click="selectTask(t, $event)">-->
        <!--<div ng-style="{ 'padding-left': (20 * t.level) + 'px' }" ng-class="{'item-selected': (t == project.selectedTask)}">-->
        <!--<span class="action" ng-if="project.tasks[project.tasks.indexOf(t) + 1]-->
        <!--&& project.tasks[project.tasks.indexOf(t)+1].level > t.level">-->
            <!--<a ng-click="collapse(t, $event)">~</a>-->
        <!--</span> {{ t.name }}-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->
